label {
    padding-right: 50px;
}
textarea#title {
    width: 100%;
}
textarea#summary {
    width: 100%;
    height: 100px;
}

textarea#content {
    width: 100%;
    height: 500px;
}




textarea {
    border-style: groove;
    border-color: #2B87D3;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(43, 135, 211, 0.1);
}
.space{
    padding-top: 7%;
}
.line{
    float: right;
    padding-right: 25%
}
.left{

    overflow: hidden;
}


