blockquote {
    border-style: groove;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: blue;
    padding-left: 1rem;
}

.hidden {
    list-style-type: none;
}

.img{
    display: block;
    width: 275px; height: 275px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.card {
    padding: 10px !important;
    margin: 10px !important;
    border-style: groove;
    border-color: #2B87D3;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(43, 135, 211, 0.1);
}

a {
    text-decoration: none;
}

.card-body>form {
    display: inline-block;
}
@media (max-width: 766px) {
    .break {
        flex-direction: column;

    }
    h2{
        text-align: center;
        padding-top: 25px;
    }
}
.center-art{

    margin-left: 10%;
}