.hidden {
    list-style-type: none;
}
.m25L{
    margin-left: 25%
}
.m25R{
    margin-right: 25%;
}
.img{
    display: block;
    width: 275px; height: 275px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}
